
:root{
    --primary-color:#f9f7fe;
    --tertiary-color:#6c63ff;
   --default-fontfamliy:'Poppins',  sans-serif;
   --heading-fontfamily:'Playfair Display',serif;
}
body{
font-family: var(--default-fontfamliy);

}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 48px;
    }
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
   
        .about-h1 {
            font-size: 64px;
        }
    
        .about-h2 {
            font-size: 18px;
        }
    
}

 .work-hero {
    margin-top: 100px;
    margin-bottom: 30px;
 }
.hero{
    background-color:  var(--primary-color);
   
}

.btn-fill{
    background-color:var(--tertiary-color);
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 border-radius: 4px;
 border-style: none;
 padding: 15px 30px;
 font-size: 18px;
 color: white;
}
.btn-outline{
    color: var(--tertiary-color);
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid var(--tertiary-color);
}
 
 .inquiry{
    background-color: #F9F7FE;
 }

.heading{
    font-family: var(--heading-fontfamily);
}
.nav-link:hover {
    color: var(--tertiary-color);
}
 .email-link {
     text-align: center;
     font-size: 24px;
     text-decoration: none;
     color: black;
 }
 .email-link:hover{
    color: var(--tertiary-color);
 }
 .socials {
    background:var(--primary-color);
    border-radius: 100%;
color: var(--tertiary-color);
margin: 0 20px;
padding: 10px 14px;
    
 }
 .socials:hover  {
    color: white;
    background: var(--tertiary-color);
 }
 .active-link{
    color: var(--tertiary-color);
 }