
:root{
    --primary-color:#f9f7fe;
    --tertiary-color:rgba(108, 99, 255, 1);
   --default-fontfamliy:'Poppins',  sans-serif;
   --heading-fontfamily:'Playfair Display',serif;
}
body{
font-family: var(--default-fontfamliy);
margin: 0;
padding: 0;
}
h2{
    font-size: 64px;
}
p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.hero{
    background-color:  var(--primary-color);
    text-align: center;
}
.hero h2{
   color: rgba(39, 33, 66, 1);
    font-size: 36px;
    font-weight: bold;

}
.hero h1{
    font-size: 96px;
    font-family: var(--heading-fontfamily);
    color: gba(0, 0, 0, 1);
}
.hero p{
    font-size: 24px;
    font-weight: normal;
    color: rgba(39, 33, 66, 1);
}
.hero-btn{
    background-color:var(--tertiary-color);
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 border-radius: 4px;
 border-style: none;
 padding: 15px 30px;
 font-size: 18px;
 color: white;
}
.btn-outline{
    color: var(--tertiary-color);
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid var(--tertiary-color);
}
 
 .inquiry{
    background-color: #F9F7FE;
 }
.work-hero{
    margin-top: 100px ;
    margin-bottom: 30px;
}
.heading{
    font-family: var(--heading-fontfamily);
}